{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="content100-form" style="align-items: center; align-content: space-evenly;">
        <span class="login100-form-title p-b-35 p-t-35">
            Мои сообщения
        </span>
	</div>

    <div class="container-dialogs">
        <div class="dialogs-wrapper">
            <div class="dialogs">
                {% for i in dialogs %}
                    <div class="dialog">

                        <div class="dialog_photo">
                            <img style='width: 70px; height: 70px; border-radius: 50%;' src="{{ i.id_card.photos.last.card_img.url }}" alt="фото">
                        </div>
                        <div class="dialog_user">{{ i.id_card.id_user.username }}</div>
                        <div class="dialog_title">{{ i.id_card.title }}</div>
                        <div class="dialog_message">{{ i.chat_message.last.message }}</div>
                        <div class="dialog_date">{{ i.chat_message.last.pub_date|date:"d M Y" }}</div>
                    </div>

                {% endfor %}
            </div>
            <div class="messages">
                <div class="message_container">
                    <div class="messages_user">user101</div>
                    <div class="messages_message">ggergeg</div>
                    <div class="message_date">24.11.2022 15:33</div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}