{% extends 'base.html' %}
{% load static %}
{% load account %}
{% load widget_tweaks %}
{% block content %}
	<div class="content100-form">
		<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset login login100-form">
			<span class="login100-form-title p-b-35 p-t-35">
				Восстановление пароля
			</span>
            {% csrf_token %}
<!--            {{ form.as_p }}-->
			<div class="wrap-input100 m-b-23">
				<span class="label-input100">Адрес электронной почты</span>
				{% render_field form.email class="input100" placeholder="Введите адрес электронной почты" %}
				<span class="focus-input100" data-symbol="&#xf206;"></span>
			</div>
			<div class="container-login100-form-btn">
				<div class="wrap-login100-form-btn">
					<div class="login100-form-bgbtn"></div>
					<button type="submit" class="login100-form-btn">
						Восстановить пароль
					</button>
				</div>
			</div>
        </form>
	</div>


{% endblock %}