{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
            <div style="display: grid; justify-content: center;" >
            	<div style="width: 300px; text-align: center; font-size: 16px">
            		Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась. Пожалуйста, запросите <a href="{{ passwd_reset_url }}" style="font-size: 16px; text-decoration: underline">сброс пароля еще раз</a>
            	</div>
        	</div>
    {% else %}
        <div class="content100-form" style="align-items: center; align-content: space-evenly;">
            <span class="login100-form-title p-b-35 p-t-35">
                Восстановление пароля
            </span>
            <form method="POST" action="{{ action_url }}" class="login login100-form">
                {% csrf_token %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-error">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-error">
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="wrap-input100 m-b-23">
                    <span class="label-input100">Новый пароль</span>
                    {% render_field form.password1 class="input100" placeholder="Введите новый пароль" %}
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>
                <div class="wrap-input100 m-b-23">
                    <span class="label-input100">Новый пароль (ещё раз)</span>
                    {% render_field form.password2 class="input100" placeholder="Повторите пароль" %}
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>
                <div class="container-login100-form-btn p-t-54">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button type="submit" class="login100-form-btn">
                            Сменить пароль
                        </button>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}

{% endblock %}






