{% extends 'base.html' %}
{% load static %}
{% load account %}
{% load widget_tweaks %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
	<div class="content100-form">
        <span class="login100-form-title p-b-35 p-t-35">
            Профиль
        </span>
        <form action="" enctype="multipart/form-data" method="post">
            {% csrf_token %}
			{% if form.errors %}
				{% for field in form %}
					{% for error in field.errors %}
						<div class="alert alert-error">
							{{ error|escape }}
						</div>
					{% endfor %}
				{% endfor %}
				{% for error in form.non_field_errors %}
					<div class="alert alert-error">
						{{ error|escape }}
					</div>
				{% endfor %}
			{% endif %}
			<div class="wrap-input100 m-b-23">
				<span class="label-input100">Имя пользователя</span>
					{% render_field form.username class="input100" placeholder="Введите имя пользователя" %}

				<span class="focus-input100" data-symbol="&#xf206;"></span>
			</div>
			<div class="wrap-input100 m-b-23">
				<span class="label-input100">Адрес электронной почты</span>
				{% render_field form.email class="input100" placeholder="Введите адрес электронной почты" %}
				<span class="focus-input100" data-symbol="&#9993;"></span>
			</div>
			<div class="wrap-input100 m-b-23 phone_input">
				<span class="label-input100">Номер телефона</span>
				{% render_field form.phone_number class="input100" placeholder="Введите номер телефона" %}
				<span class="focus-input100" data-symbol="&#9743;"></span>
			</div>
			<div class="wrap-input100 m-b-23">
				<span class="label-input100">Город</span>
				{% render_field form.city class="input100 city" name="city" id="register_city" placeholder="Введите ваш город" %}
				<span style="top: -4%; left: 1%;" class="focus-input100" data-symbol="&#8962;"></span>
			</div>


            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button type="submit" class="login100-form-btn" name="btnformlogin">
                        Обновить данные
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}