{% extends 'base.html' %}
{% load static %}
{% load account %}
{% load widget_tweaks %}
{% block content %}
    <div class="content100-form" style="align-items: center; align-content: space-evenly;">
        <span class="login100-form-title p-b-35 p-t-35">
            Изменение пароля
        </span>
        <form method="POST" action="" class="login login100-form">
            {% csrf_token %}
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-error">
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-error">
                        {{ error|escape }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="wrap-input100 m-b-23">
                <span class="label-input100">Текущий пароль</span>
                {% render_field form.oldpassword class="input100" placeholder="Введите текущий пароль" %}
                <span class="focus-input100" data-symbol="&#xf190;"></span>
            </div>
            <div class="wrap-input100 m-b-23">
                <span class="label-input100">Новый пароль</span>
                {% render_field form.password1 class="input100" placeholder="Введите новый пароль" %}
                <span class="focus-input100" data-symbol="&#xf190;"></span>
            </div>
            <div class="wrap-input100 m-b-23">
                <span class="label-input100">Новый пароль (ещё раз)</span>
                {% render_field form.password2 class="input100" placeholder="Повторите пароль" %}
                <span class="focus-input100" data-symbol="&#xf190;"></span>
            </div>
            <div class="container-login100-form-btn p-t-54">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button type="submit" class="login100-form-btn">
                        Сменить пароль
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

